.track {
	display: flex;
	flex-direction: column;
	/* align-content: space-between; */
	/* justify-content: center; */
	/* justify-self: center; */
	padding-top: 15px;
	/* margin: 0 4%; */
}
.chordbookContainer {
	/* padding-bottom: 10em; */
	flex-direction: column;
}
.detailCard {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* align-content: space-between; */
	grid-gap: 15px;
	/* padding: 0 1.75rem; */
	/* margin: 0 auto; */
}
.details,
.artistImageCon {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end;  */
}
.details {
	/* padding: 0; */
	/* margin: 0; */
	align-items: flex-end;
	justify-items: space-between;
}
.trackTitle {
	overflow: hidden;
	max-width: 30ch;
	white-space: nowrap;
}
.trackTitle:hover,
.trackArtist:hover,
.trackTitle:focus,
.trackArtist:focus,
.trackAlbum:focus,
.trackAlbum:hover {
	box-shadow: var(--level-4);
	outline: 2px var(--cursorOutlineColor) solid;
	border-radius: 3px;
}

.trackCover:hover,
.trackCover:focus,
.trackCoverCon:hover,
.artistImage:focus,
.artistImage:hover,
.artistImageCon:hover {
	border-radius: var(--borderRadius);
	outline: 2px var(--cursorOutlineColor) solid;
}
.trackCoverCon,
.artistImageCon {
	border-radius: var(--borderRadius);
}
.artistImage,
.trackCover {
	width: 100%;
	height: 100%;
	/* padding: 2rem; */
	border-radius: var(--borderRadius);
}
/* .trackCover P{} */
/* @media screen and (max-width: 1300px) {
	.trackCover {
		width: 100%;
		height: 100%;
		border-radius: var(--borderRadius);
	}
} */
