.cards {
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 5%; */
  /* padding: 1rem; */
  padding-top: 25px;
}
.card {
  background-color: var(--cardBg);
  flex-direction: column;
  text-align: center;
  margin: 10px 150px;
  padding: 15px 50px;
  border-radius: var(--borderRadius);
}
.card h4 {
  margin: 0;
}
