.chordbooks {
	margin: 0 auto;
}
.chordbook {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(355px, auto) 1350px);
	gap: 15px;
	margin-bottom: 7px;
}
.chordbook select {
	border: 2px var(--chordOutlineColor) solid;
}
.chordbookHeader button {
	color: var(--white);
	background: var(--selectBackgroundColor);
	outline: 2px var(--chordOutlineColor) solid;
}
.chordbookHeader {
	display: grid;
	align-items: flex-start;
	background: var(--darkGrey);
	border-right: 8px var(--chordOutlineColor) solid;
	border-left: 8px var(--chordOutlineColor) solid;
	color: var(--white);
}
.chordbookHeader:first-child {
	height: 275px;
}
.chordbookHeader h5 {
	text-align: center;
	text-transform: capitalize;
}
.chordbookHeader h5 span:first-child {
	text-decoration: underline;
}
.chords {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fit, minmax(170px, 7fr));
	justify-items: center;
	text-align: center;
}
.blur {
	animation: blurIn 0.05s forwards;
	box-shadow: var(--level-5);
	transform: scale(0.88);
}
@keyframes blurIn {
	0% {
		filter: blur(0px);
	}
	50% {
		filter: blur(0.5px);
	}
	100% {
		filter: blur(1.15px);
	}
}
.keyModeSelect {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.keyModeSelect div {
	display: flex;
	justify-content: space-between;
	gap: 0.45em;
}
.keyModeSelect div .control {
	display: flex;
}
.keyModeSelect div .suggestedScale {
	text-transform: capitalize;
}
.keyModeSubmit,
.keyModeReset {
	font-weight: bold;
}
.keyModeReset:hover,
.remove:hover {
	background-color: var(--red);
	color: var(--selectTextColor);
	outline: 2px var(--white) solid;
}
.keyModeReset,
.remove,
.create,
.keyModeSubmit {
	transition: all 0.15s ease-in-out;
}
.chordbookControls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
	align-items: center;
}
.innerTitleInput {
	display: flex;
	background: var(--darkGrey);
	color: var(--cardTextColor);
	font-family: var(--headingFont);
	font-size: var(--h5);
	outline: 2px var(--cardTextColor) solid;
	text-transform: capitalize;
	text-align: center;
	/* margin: 0; */
}
.bookTitle:focus,
.innerTitleInput:focus {
	outline: 2px var(--white) solid;
}
.innerTitle {
	display: flex;
	align-self: center;
	font-size: var(--h5);
	font-family: var(--headingFont);
	text-transform: capitalize;
	text-align: center;
}
.bookTitle {
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	text-align: center;
}
.bookTitle:hover {
	cursor: text;
}
.create:hover {
	background-color: var(--green2);
	color: var(--selectTextColor);
	color: var(--selectTextColor);
	outline: 2px var(--white) solid;
}
.remove:focus {
	outline: 2px var(--red) solid;
}

.create:focus {
	outline: 2px var(--green2) solid;
}

.keyModeSubmit:hover {
	background-color: var(--darkGrey);
	color: var(--cardTextColor);
	outline: 2px var(--white) solid;
	/* font-weight: bold; */
}
.keyModeReset:focus,
.keyModeSubmit:focus {
	outline: 2px var(--white) solid;
}
@media screen and (max-width: 1920px) {
	.chordbook {
		/* width: 1000px; */
		/* margin: 0 10%; */
	}
	/* .chordbook { 
    margin: 0;
    padding: 0 3%; 
    justify-content: center;
  } */
	.chordbookHeader {
		/* display: flex; */
		/* flex-direction: column; */
		/* margin: 0 auto; */
		/* justify-content: flex-start; */
		/* align-self: flex-start; */
		/* flex: 1 1 27; */
	}
}

@media screen and (max-width: 1750px) {
	.chordbook {
		/* display: grid; */
		/* grid-template-columns: repeat(3, 1fr); */
	}
}
