.shazam:hover {
	cursor: pointer;
}
.container {
	display: flex;
	justify-content: center;
}
.status {
	color: green;
}
.shazam {
	/* display: flex; */
	justify-content: center;
	height: 100%;
}
.shazamContainer {
	height: '150px';
	width: '150px';
}
