/* .tracks {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50vw;
	margin: 0 auto;
}
.tracks li {
	width: 20vw;
} */
/* .results { 
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 0.333rem;
	margin: 1rem 7rem; 
	padding: 0; 
} */
 